.CopProTasCard {
    padding-top: 50px;
    padding-bottom: 100px;
}

mat-card-title {
  color: #006064;
  font-size: large;
  font-style:oblique;
  background-color:#fff9c4;
  margin-bottom: 20px;
}

mat-form-field {
    margin-left: 8px;
    width: 220px;
    margin-top: 8px;
  }

  button{
 
      height:52px;
      width:225px;
      font-size:20px;
      margin-top: 0px;
      line-height: 20px;
      
     

  }
  
 form {
    margin-bottom: 10px;
  }
  
   form > * {
    margin: 5px 0;
  }