<div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="center center" fxLayoutGap.gt-md="20px">
    <br>
    <br>
    <section>
        <h1>Your Company and its projects</h1>
        <p>Easy solution for managing and collaborating projects.</p>
        <p>The application gives you quick over view of projects.</p>
    </section>

    <section>
        <h1>Projects</h1>
        <p>A company may have several projects.</p>
    </section>

    <section>
        <h1>Tasks</h1>
        <p>A project may have several tasks.</p>
    </section>
