@import '~@angular/material/theming';
@include mat-core();
                      
$customTheme-primary: mat-palette($mat-teal, 400);
$customTheme-accent:  mat-palette($mat-teal, 700);
$customTheme-warn:    mat-palette($mat-deep-orange, 400);
$customTheme: mat-light-theme($customTheme-primary, $customTheme-accent, $customTheme-warn);

@include angular-material-theme($customTheme);
